@mixin fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@mixin hideMenu {
  animation-name: hideMenu;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
@mixin shadow {
  text-shadow: 5px 5px 8px rgba(51, 49, 49, 0.795);
}
